# .htaccess

RewriteEngine On

AddHandler application/x-httpd-php .php

# Reescribe las URL para que apunten a index.php sin necesidad de poner .php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ public/index.php/$1 [QSA,L]

SetEnv DB_SERVER rh-db.clmsqy6mwf9l.us-west-1.rds.amazonaws.com,1433
SetEnv DB_NAME rh
SetEnv DB_USERNAME admin
SetEnv DB_PASSWORD ZL5kB0SgIWD2VDyQXWLf
SetEnv ENCRYPT_PASSWORD_KEY oc7yqqXqiaNOqFAMhRUbPo3dGqDI8wIB
SetEnv NOREPLY_MAIL_PASSWORD Reply.2025%
SetEnv SAS_TOKEN sp=rw&st=2025-04-06T06:40:20Z&se=2026-04-06T14:40:20Z&spr=https&sv=2024-11-04&sr=c&sig=dU%2FTdwXmLkFBzdX09b3AWCRGLMKtGVLAU141I6TnP14%3D
